<nav class="flex flex-1 justify-end gap-8 items-center">
  <div class="flex items-center gap-9">
    <button class="text-[#1a170f] text-sm font-medium leading-normal" hx-get="{% url 'task_list_partial' %}" hx-target="#main-content" >My Tasks</button>
    <button class="text-[#1a170f] text-sm font-medium leading-normal" hx-get="{% url 'all_tasks' %}" hx-target="#main-content">All Tasks</button>
    <a class="text-[#1a170f] text-sm font-medium leading-normal" href="#">Templates</a>
  </div>
  <button
      hx-get="{% url 'task_add' %}"
      hx-target="#main-content"
      class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#f3c144] 
             text-[#1a170f] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
      >
      <div class="text-[#1a170f]" data-icon="Plus" data-size="20px" data-weight="regular">
        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
          <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path>
        </svg>
      </div>
      <span>Add Task</span>
  </button>
  <div class="flex items-center">
    {% block user_profile %}
    <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10 ml-4"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC1YfJCUaLsbSw8WHczuvag_Ey4h9kikn4L7Q5LCca8gJsu3-kq3nL-JEOyWySDVs1At7rOh_82hU_HuPnDD1jLnnzIFAmi0j0E2OlWjO7--rT2qkVHztXlmPiqeh44SJ7WYviaA8v7WJrmUNB2hJMRTpxYq_TFYpX8Ls0jAtVHSlLR4S_sduilmeqzJyiJySEQuAPhJinPX0iiUMpjva-KkQ4rpKmtoMxZkvbvt1OjS3wk8IIt5zU7BfzoSQJy-fpl-1wNMHkvrXk");'
        ></div>
    {% endblock user_profile %}
  </div>
</nav>
