/venv/
venv/
.env

__pycache__/
*.pyc

db.sqlite3
*.sqlite3

# Static files
staticfiles/
static/css/output.css

# SSL certificates
selftest-cert.*

# Tooling
tailwindcss
daisyui.js
daisyui-theme.js
/typings/
.uv/
.python-version
