#  WARNING: don't run with debug turned on in production!
DEBUG=True

#  WARNING: keep the secret key used in production secret!
SECRET_KEY=django-secret-key

ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=


